body{
	font-family: Arial;
	font-size: 14px;
	color: #fff;
}


#mainContainer{
	position: relative;
	width: 620px;
	margin: 0 auto;
	border: 1px solid #777;
	box-shadow: 0px 0px 10px -3px #000;
}

#mainContainer .head{
	height: 42px;
	background: url( /images/options/head_bg.png ) repeat-x #008fe7;
	border-bottom: 1px solid #1173b0;

}

#mainContainer .head .text{
	background: url( /images/options/head_text.png ) no-repeat;
	width: 620px;
	height: 42px;
}

#mainContainer .body{
	background-color: #00aff0;
	height: 300px;
}

#mainContainer .body .description1{
	padding: 5px 20px 0px 20px;
}

#mainContainer .body table.advantages{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	
	margin-top: 12px;	
}

#mainContainer .body table.advantages td{
	
	width: 50%;
	
}

#mainContainer .body table.advantages h3{
	
	font-size: 16px;

	margin: 0px;
	
}

#mainContainer .body table.advantages ul{	
	margin: 0px;
	list-style: none;
	padding: 0px;	
}

#mainContainer .body table.advantages ul li{	
	margin: 0px;	
}

#mainContainer .body .macOsAd{
	height: 77px;
	border-top: 1px solid #94e2ff;
	border-bottom: 1px solid #94e2ff;
	position: relative;		
}

.spacer{
	height: 10px;
}

#mainContainer .body .description1{
	width: 620px;
	height: 120px;
	padding: 8px 8px 8px 8px;
}

#mainContainer .body .description1 .group{
	width: 400px;
	height: 100px;
}

#mainContainer .body .description1 .group fields{
	margin-top: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	
	box-shadow: 0px 0px 10px -5px #000;
	-webkit-transition-duration: 200ms;
}

#mainContainer .body .description1 .group fieldset > legend{
	font-weight: bold;
}

#mainContainer .body .description1 .group fieldset .subSet{
	width: 45%;
	height: 180px;
}

#mainContainer .body .description1 .group  .col1{
	float: left;
}

#mainContainer .body .description1 .group  .col1 label{
	width:170px;
	float: left;
}

#mainContainer .body .description1 .group  .col2{
	padding-left: 20px;
}

#mainContainer .body .description2{
	width: 620px;
	height: 60px;
	padding: 8px 8px 8px 8px;
}

#mainContainer .body .description2 .group{
	width: 400px;
	height: 60px;
}

#mainContainer .body .description2 .group fields{
	margin-top: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	
	box-shadow: 0px 0px 10px -5px #000;
	-webkit-transition-duration: 200ms;
}

#mainContainer .body .description2 .group fieldset > legend{
	font-weight: bold;
}

#mainContainer .body .description2 .group fieldset .subSet{
	width: 45%;
	height: 25px;
}

#mainContainer .body .description3{
	width: 620px;
	height: 30px;
	padding: 8px 8px 8px 8px;
}

#mainContainer .body .description3 .group{
	width: 400px;
	height: 60px;
}

#mainContainer .body .description3 .group fields{
	margin-top: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	
	box-shadow: 0px 0px 10px -5px #000;
	-webkit-transition-duration: 200ms;
}




#mainContainer .body  #mainMail{
	position: absolute;
	top: 50px;
	right: 15px;
	text-align: center;
	width: 44px;
	height: 44px;
	background: url(/images/email_open.png);
	cursor: pointer;
}

#mainContainer .body  #mainMail:hover{
	background: url(/images/email_open_hover.png);
}

#mainContainer .body  #mainMail   #buttonBigSdGetSatisfaction{	
}

#mainContainer .body  #mainMail  #buttonBigSdGetSatisfaction:hover{	
}


#mainContainer .body .mainMenu{
	position: absolute;
	top: 150px;
	left: 420px;
	width:120px;
	height:24px;
	background-color: red;
	border-radius: 15px;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
}



/* button */
#mainContainer .body .fvdButton{
	position: absolute;
	top: 270px;
	left: 420px;
	width:120px;
	height:20px;
	background-color: #ff0000;
	border-radius: 15px;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
	padding-top: 2px;
}

#mainContainer .body .fvdButton:hover{
	border: 1px solid #fff;
	background-color: #c80505;
	color: #333333;
}

#mainContainer .body .fvdButton:active{
	border: 2px solid #444444;
}

#mainContainer .body .fvdButton .text{
	font:14px/16px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}


#mainContainer .body .fvdButton.main{
	background: none;
	background-color: red;
}

#mainContainer .body .fvdButton.withLoading[loading="1"]{
	background-image: url(/images/loading.gif);
	background-position:  center center;
	background-repeat: no-repeat;
}


#mainContainer .body .fvdButton.withLoading[loading="0"] .text{
	display: inline;
}

#mainContainer .body .fvdButton.withLoading[loading="1"] .text{
	visibility:hidden;
}

#mainContainer[havechanges="1"] #applyButton{
	opacity: 1;
}

#applyButton{
	text-align: center;
	-webkit-transition-duration: 200ms;
	opacity:0;
}

#applyChangesButton{
	width: 100px;
}

#closeButton{
	text-align: center;
	-webkit-transition-duration: 200ms;
	opacity: 0;
	display: none;
}

#closeButton[active="1"]{
	display: block;
	opacity: 1;
}

#livestartpage {
	width: 620px;
}	

