img,legend {
	border:0
}
body,legend,td,th  {
	padding:0
}
body,html,sub,sup  {
	position:relative;
}
button,input,select,sub,sup,textarea  {
	vertical-align:baseline
}
pre,textarea  {
	overflow:auto
}
body,html  {
	-webkit-font-smoothing:antialiased;
	margin: 0;
	padding: 0;
	width: 100%;
}
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
    box-sizing: border-box;
}
.app {
	display: block;
	width: 100%;
	height: 100%;
}	
.view {
	display: block;
	width: 100%;
	height: 100%;
}
.view-content {
	display: block;
	width: 100%;
	height: 100%;
}

.view-content .banner {
    position: relative;
    padding: 20px 30px 20px 115px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    background: #fff;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
	height: 120px;
}	
.view-content  .iconWrapper   {
	width: 48px;
    height: 48px;
    background-size: 48px 48px;
    background-image: url(/images/icons/stream-on-48x48.png);
    position: absolute;
    left: 10px;
    top: 40px;
}
.view-content  .headerWrapper  {
	font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #777;	
}
.view-content  .titleWrapper  {
	font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
	margin-top: 10px;	
}
.view-content  .labelWrapper  {
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;	
	margin-top: 10px;
}
.view-content .streams {
    position: relative;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    background: #fff;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
	height: 120px;
}	
.view-content .stream-item {
	width: 100%;
	height: 36px;
}
.view-content .stream-item.video {
	display: block;
}	
.view-content .stream-item {
	display: none;
}	
.view-content .stream-item  .legend   {
	display: inline-block;
	width: 100px;
    height: 100%;
	font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}
.view-content .stream-item  .progress   {
	display: inline-block;
	width: 100px;
    height: 100%;
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.view-content .stream-item  .size   {
	display: inline-block;
	width: 150px;
    height: 100%;
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.view-content .status {
	display: none;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    background: #fff;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
	height: 70px;
}	
.view-content .status  .legend   {
	display: inline-block;
	width: 100px;
    height: 100%;
	font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}
.view-content .status  .progress   {
	display: inline-block;
	width: 100px;
    height: 100%;
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.view-content .status  .size   {
	display: inline-block;
	width: 150px;
    height: 100%;
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.view-content .status  .state   {
	display: inline-block;
	width: 150px;
    height: 100%;
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.view-content .actions {
	display: none;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    background: #fff;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
	height: 70px;
}	
#button_stream_cancel {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg, rgb(252, 43, 83), rgb(249, 134, 156));
    position: relative;
    margin-right: 25px;
    width: 90px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
#button_stream_close {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg, rgb(252, 43, 83), rgb(249, 134, 156));
    position: relative;
    width: 90px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
